.container-users {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.item-user {
	margin: 10px;
	text-align: center;
}

.item-user img {
	width: 50%;
}

.user-page-count:hover {
	cursor: pointer;
	font-weight: bold;
}

.users-pagination span:hover{
	cursor: pointer;
}

.page-changed {
	font-weight: 800;
}