* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app-wrapper {
	margin: 0 auto;
	max-width: 1299px;
	display: grid;
	grid-template-areas: 
	"header header header"
	"nav profile profile";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 8fr;
	grid-gap: 10px;
	background-color: blue;
}